@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só mente um elemento)
    em HTML é class = em CSS é . (pode varios elementos)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(18, 223, 10);
}

h1#principal {
    text-align: center;
    background-color: rgb(3, 53, 2);
    color: white;

}

h2 {
    color: rgb(3, 53, 2);
}

.basico {
    color:   rgb(18, 223, 10);
    font-weight: bold;
}

.intermediario {
    color: rgb(200, 255, 0);
}

.avancado {
    color: red;
}

.destaque {
    background-color: blue;
}