@charset  "UTF-8";

:root {
    --cor0:#D9D0D8;
    --cor1:#171C26;
    --cor2:#A698A2;
    --cor3:#BF7E6F;
    --cor4:#8C4C46;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Lobster', 'cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-destaque);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > img.pequena {
    margin: 0px 1100px;
    padding: 10px 30px 10px;
    border-radius: 50%;

}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.322);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor1);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-top-left-radius: 10px 10px ;
    border-top-right-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
}

main h1 {
    color: var(--cor1);
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1,8em;
}

main h2 {
    font-family: var(--fonte-destaque);
    color: var(--cor1);
    font-size: 1.3em;
    font-weight: normal;
    background-image: -o-linear-gradient(to right, var(--cor1) transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.2em;
}

main p strong {
    color: var(--cor3);
    font-weight: bolder;
}

main a {
    text-decoration: none;
    font-weight: bold;
    column-rule: var(--cor1);
    background-color: var(--cor2);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    column-rule: var(--cor3);
}

main img {
    max-width: 350px;
    display: block;
    margin: auto;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--cor1);
    color: white;
    text-align: center;
    font-size: 0,8em;
    padding: 5px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor4);
}